.track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 4px;
    max-width: 90%;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.status {
    font-size: 10px;
}
